body {
    background-color: black;
    color: white;
    font-family: "Segoe UI", sans-serif;
    height: calc(100vh - 20vw);
    margin: 10vw;
}
* {
    cursor: none;
}
#page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
}
#page-container > div {
    flex: 0 0 auto;
}
div#scrollable-container {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 24vw;
    overflow: hidden;
}
/*#next-event {
    overflow-y: hidden;
    transition-property: flex, padding, margin, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
}
#next-event.is-hidden {
    opacity: 0%;
    flex: 0 1 0;
}*/
.section {
    flex: 1 1 33%;
    overflow-y: scroll;
    transition-duration: 0.6s;
    transition-property: padding, flex;
    transition-timing-function: ease-in-out;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.section::-webkit-scrollbar {
    display: none;
}
.section.is-focused {
    flex: 2 0 50%;
}
.section.is-full-screen {
    flex: 2 0 100%;
}
.section.is-hidden {
    flex: 0 1 0%;
    padding: 0px;
}

/***************
* CLOCK STYLES *
***************/

#clock, #date, #next-event-header, #next-event-clock, #next-event-footer {
    text-align: center;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
}
#clock {
    font-size: 14vw;
}
#clock-colon-s, #clock-s {
    color: grey;
    font-size: 60%;
}
#date {
    font-size: 5vw;
    color: grey;
    margin-bottom: 5vw;
}
#next-event-header {
    font-size: 2vw;
    color: grey;
}
#next-event-title {
    font-size: 3vw;
    color: white;
}
#next-event-clock {
    font-size: 10vw;
    margin-top: -2vw;
}
#next-event-footer {
    font-size: 3vw;
    margin-bottom: 5vw;
    /*text-transform: uppercase;*/
}

/***************
* BUSES STYLES *
***************/
#buses {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: calc(100% + 4vw);
    margin-left: -2vw; /* HACK: unable to use first child on .bus-column because of display:none when switching columns;*/
    margin-right: -2vw;
}

.bus-column {
    flex: 1 1 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 2vw;
    margin-right: 2vw;
    transition-duration: 0.6s;
    transition-property: flex, opacity, margin;
    transition-timing-function: ease-in;
}
.bus-column.is-hidden {
    flex: 0 0 0;
    opacity: 0;
    transition-timing-function: ease-out;
    margin: 0;
}
.bus-column::-webkit-scrollbar {
    display: none;
}
.bus-list-header {
    font-size: 3vw;
    text-align: center;
    color: grey;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
.bus-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
}
li.bus {
    flex: 0 0 8vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bus-route {
    font-size: 6vw;
    font-weight: bold;
    flex: 0 0 8vw;
    float: left;
    text-align: center;
    font-family: Roadway, sans-serif;
    text-transform: lowercase;
}
.bus-route.route-U1, .bus-route.route-U1A {
    color: red;
}
.bus-route.route-U2 {
    color: limegreen;
}
.bus-route.route-U3 {
    color: blue;
}
.bus-route.route-1 {
    color: gold;
}
.bus-route.route-X18, .bus-route.route-X17 {
    color: darkmagenta;
}

.bus-time {
    font-size: 4vw;
    flex: 0 0 16vw;
    float: left;
}
.bus-time-seconds {
    font-size: 3vw;
    color: grey;
}
.bus-time-scheduled {
    opacity: 50%;
}
.bus-destination {
    font-size: 3vw;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  /*transition-duration: 0.6s;
  transition-property: opacity;
  transition-timing-function: ease-in;*/
}
.bus-destination.is-hidden {
    opacity: 0;
  /*transition-timing-function: ease-out; TODO: Transition currently impossible because of the redraw*/
}
.bus-time-from-now {
    font-size: 4vw;
    text-align: right;
    flex: 0 0 auto;
}
.bus-list-no-buses {
    font-size: 3vw;
    text-align: center;
    color: grey;
}
.bus-list-end {
    font-size: 2vw;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    margin-top: -2vw;
}

/****************
* EVENTS STYLES *
****************/

#events {
}

/***************
* TASKS STYLES *
***************/

#tasks {
}

/**********
* COLOURS *
**********/

.white {
    color: white;
}
.purple {
    color: darkmagenta;
}
.yellow {
    color: gold;
}
.cyan {
    color: cyan;
}
.blue {
    color: blue;
}
.green {
    color: limegreen;
}
.red {
    color: red;
}
.grey {
    color: grey;
}
.transparent {
    opacity: 0;
}
